<div class="container">

	<div class="row">
		<!-- itineraryを編集する -->	
		<div class="col-lg-3">
			<p class="mr-auto">
			  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">概要を編集</button>
			</p>
			<div class="collapse" id="collapseExample">
			  <div class="card card-body">
			    <%= form_for([@traveller, @itinerary]) do |f| %>

					<div class="row" style="padding-bottom: 10px;"><%= f.text_field :title, :size=>"40", placeholder: "旅のタイトル",class: "form-control" %></div>

					<div class="row" style="padding-bottom: 10px;"><%= f.text_field :theme, :size=>"40", placeholder: "旅のテーマ",class: "form-control" %></div>

					<div class="row" style="padding-bottom: 10px;"><%= f.text_area :synopsis, :size=>"39x10", placeholder: "旅の概要",class: "form-control" %></div>

					<div class="row" style="padding-bottom: 10px;">
						<div class="col-sm-10 btn-group" data-toggle="buttons">
							<label class="btn btn-outline-secondary active" style="width:50%">
								<%= f.radio_button :public_status, :非公開, {checked: true} %> 非公開
							</label>
							<label class="btn btn-outline-secondary" style="width:50%">
								<%= f.radio_button :public_status, :公開中, {} %> 公開
							</label>
						</div>
					</div>

					<%= f.submit('更新',class: "btn btn-primary btn-lg my-1 mb-5 px-5") %>

					<% end %>
			  </div>
			</div>
		</div>
		<!-- ここまで -->

		<!-- itinerary_spotを新規登録する -->
		<div class="col-lg-3">
			<%= link_to '予定を追加', new_traveller_itinerary_itinerary_spot_path(itinerary_id: @itinerary.id), remote: true, class: "btn btn-lg, btn-primary" %>
		</div>
		<div id="itinerary_spot-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
		<!-- ここまで -->

		<!-- itineraryを確認する -->
		<div class="col-lg-3">
			<div><%= link_to "行程表を確認", traveller_itinerary_path(itinerary_id: @itinerary.id), class: 'btn btn-lg, btn-primary' %></div>
		</div>
		<!-- ここまで -->

		<!-- itineraryを削除する -->
		<div class="col-lg-3">
			<div><%= link_to "計画を削除する", traveller_itinerary_path(itinerary_id: @itinerary.id), class: 'btn btn-lg, btn-danger', method: :delete, data: {confirm: "登録した情報は全て削除されますが宜しいですか？"} %></div>
		</div>
		<!-- ここまで -->
	</div>

	<div class="row">
		<!-- 登録したitinerary_spotsを表示 -->
		<table class="table table-hover">
			<thead>
				<tr>
					<th>時間</th>
					<th>移動方法</th>
					<th>メモ</th>
					<th>spot</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<!-- 非同期で表示するために部分テンプレートを使用 -->
			<tbody>
				<% @itinerary.itinerary_spots.each do |itinerary_spot| %>
					<%= render partial: "itinerary_spots/tr", locals: { itinerary_spot: itinerary_spot } %>
				<% end %>
			</tbody>
		</table>
		<!-- ここまで -->
	</div>
</div>
