<div class="container">
	<div class="row">
		<h2><strong>スポット 編集画面</strong></h2>

		<%= form_for([@traveller, @spot]) do |f| %>

		<%= f.attachment_field :image %>

		<h4>スポット名</h4>
		<%= f.text_field :spot_name %>

		<h4>説明</h4>
		<%= f.text_area :spot_text %>

		<h4>ジャンル</h4>
		<%= f.select :genre, Spot.genres.map { |k, v| [k, k] } %>

		<h4>料金</h4>
		<%= f.text_field :cost %>

		<h4>営業時間</h4>
		<%= f.text_field :business_hours %>

		<h4>目安滞在時間</h4>
		<%= f.text_field :stay_time %>

		<h4>位置情報</h4>
		<%= f.text_field :position %>

		<h4>おすすめのアクセス方法</h4>
		<%= f.text_field :access %>

		<h4>公開ステータス</h4>
		<%= f.text_field :public_status %>
		<br>
		<br>

		<%= f.submit '保存する' %>

		<% end %>

		<botton type="botton" class="btn btn-default">
			<%= link_to "削除する", traveller_spot_path(@spot.id), method: :delete, data: { confirm: '本当に消しますか?' } %>
		</botton>

	</div>
</div>