<div class="container">

	<div class="row">
		<div class="col">
			<% @genres.each do |genre| %>
				<%= genre %>
			<% end %>
			<%= select :genre, :name, @genres.keys.to_a, include_blank: true %>
		</div>
	</div>

	<div class="row">
		<div class="col">
		<%# if traveller_signed_in? %>
		<%#= link_to '新規登録ボタン', new_traveller_spot_path(current_traveller) %>
		<%# end %>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>No.</th>
					<th>ジャンル</th>
					<th>image</th>
					<th >スポット名</th>
					<th>料金</th>
					<th>アクセス方法</th>
					<th>営業時間</th>
				</tr>
			</thead>
			<tbody>
				<% @spots.each do |spot| %>
				<tr>
					<td><%= spot.id %></td>
					<td><%= spot.genre %></td>
					<td>
					<%= link_to spot_path(id: spot.id, traveller_id: spot.traveller_id) do %>
						<%= attachment_image_tag spot, :image, :fill, 200, 180, :class => "img-rounded" %>
					<% end %>
					</td>
					<td><%= link_to spot.spot_name, spot_path(id: spot.id, traveller_id: spot.traveller_id) %></td>
					<td><%= spot.cost %>€</td>
					<td><%= spot.access %></td>
					<td><%= spot.business_hours %></td>
				</tr>
				<% end %>
				<%= paginate @spots, class: "paginate" %>
			</tbody>
		</table>
		</div>
	</div>
</div>