<div class="container">
	<div class="row">
		<div class="col-md-10">
			<div class="row">
					<div class="col-sm-6">
						<%= attachment_image_tag @spot, :image, :fill, 400, 300 %>

						<h4 style="padding-top: 30px;">料金</h4>
						<p style="padding-bottom: 10px;"><%= @spot.cost %></p>

						<h4 style="padding-bottom: 5px;">営業時間</h4>
						<p style="padding-bottom: 10px;"><%= @spot.business_hours %></p>

						<!-- <h4 style="padding-bottom: 5px;">位置情報</h4>
						<p style="padding-bottom: 10px;"><%= @spot.position %></p> -->

					</div>

					<div class="col-sm-6">

						<h3 style="padding-bottom: 5px;"><%= @spot.spot_name %> / <%= @spot.genre %></h3>

						<p style="padding-bottom: 10px;"><%= @spot.spot_text %></p>

						<h4 style="padding-bottom: 5px;">目安滞在時間</h4>
						<p style="padding-bottom: 10px;"><%= @spot.stay_time %></p>

						<h4 style="padding-bottom: 5px;">おすすめのアクセス方法</h4>
						<p style="padding-bottom: 10px;"><%= @spot.access %></p>

						<% if traveller_signed_in? %>
						<div id="favorite_spot_button_<%= @spot.id %>">
							<%= render partial: 'favorite_spots/favorite_spot', locals: {spot: @spot} %>
						</div>
						<div>
							<p>投稿者：<%= link_to @spot.traveller.name, traveller_path(@spot.traveller_id) %>&thinsp;さん</p>
						</div>
					  <% else %>
					  	<p><span>お気に入り数:<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i></span><%= @spot.favorite_spots.count %></p>
					  <% end %>
					</div>
			</div>

			<% if traveller_signed_in? %>
				<% if current_traveller.id == @spot.traveller_id %>
			<div class="row">
				<div class="col-sm-6">
				</div>
				<div class="col-sm-3">
					<h2 style="padding-bottom: 5px;"><%= @spot.public_status %></h2>
				</div>
				<div class="col-sm-3">
					<h4><%= link_to '編集する', edit_traveller_spot_path(@spot.id), class: "btn btn-primary" %></h4>
				</div>
			</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>