<div class="modal-dialog modal-dialog-centered modal-lg">
	<div class="modal-content">
		<%= form_for([@itinerary, @itinerary_spot], url:traveller_itinerary_itinerary_spot_path(current_traveller.id, @itinerary.id), remote: true) do |f| %>
		<div class="modal_header">
			<h4 class="modal-title" style="padding-left: 10px;">edit spot</h4>
		</div>
		<div class="modal_body" style="padding-left: 10px;">
				<%= f.date_select :date %><br>
				<%= f.time_select :arrival_plan_time %>~<%= f.time_select :start_plan_time %><br>
				<h4>移動方法</h4>
				<%= f.select :moving_genre, ItinerarySpot.moving_genres.map { |k, v| [k, k] } %><%= f.text_field :fare %>€<br>
				<h6>memo</h6>
				<%= f.text_area :moving_memo %><br>
				<%= f.text_area :itinerary_spot_memo %>

				<%= f.collection_select :spot_id, @favorite_spots, :id, :spot_name %>
		</div>
		<div class="modal_footer actions">
				<%= f.submit '更新', class: "btn btn-primary" %>
		</div>
	  <% end %>
	</div>
</div>