<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h2 style="padding-bottom: 30px;"><strong><%= @traveller.name %></strong>&thinsp;さん&thinsp;のページ</h2>

				<div class="row">
					<div class="col-sm-4">
						<h5 style="padding-bottom: 5px;"><%= @traveller.name %>&thinsp;さん&thinsp;の渡航回数</h3>
						<h4 style="padding-bottom: 10px;"><%= @traveller.trip_count %>&thinsp;回</h4>

						<h5 style="padding-bottom: 5px;"><%= @traveller.name %>&thinsp;さん&thinsp;の投稿数</h3>
						<h4 style="padding-bottom: 10px;"><%= @spots_count %>&thinsp;spots</h4>

						<br>

						<% if current_traveller.id == @traveller.id %>
							<%= link_to travellers_myedit_path(current_traveller), class: 'btn btn-info' do %>
								<span>編集する</span>
							<% end %>
						<% end %>

					</div>

					<div class="col-sm-8">

						<h3 style="padding-top: 5px;">旅の予定</h3>
						<% @itineraries.each do |itinerary| %>
							<hr>
							<p><span>Plan Name: </span><%=link_to itinerary.title, traveller_itinerary_path(itinerary.traveller.id,itinerary.id) %></p>
						<% end %>

						<h3 style="padding-top: 5px;">投稿Spot</h3>
						<% @spots.each do |spot| %>
							<hr>
							<p><span>Spot Name: </span><%=link_to spot.spot_name, spot_path(spot.id) %></p>
						<% end %>

						<h3 style="padding-top: 5px;">お気に入りSpot</h3>
						<% @my_favorite_spots.each do |favorite_spot| %>
							<hr>
							<p><span>Spot Name: </span><%=link_to favorite_spot.spot_name, spot_path(favorite_spot.id) %></p>

							<% if current_traveller.id == @traveller.id %>
								<% favorite_spot_traveller = favorite_spot.favorite_spots.find_by(traveller_id: @traveller) %>
								<%= form_for(favorite_spot_traveller, url:spot_favorite_spots_path(favorite_spot.id), method: :patch) do |f| %>
									<%= f.text_area :favorite_spot_memo, class: "form-control" %>
									<%= f.submit '更新', class: 'btn btn-primary' %>
									<button type="button" class="btn btn-danger"><%=link_to "解除", spot_favorite_spots_path(favorite_spot.id, :para => "mypage"), :style => "color: white;", method: :delete, data: {confirm: "登録したメモも削除されますが宜しいですか？"} %></button>
								<% end %>
							<% end %>

						<% end %>

					</div>
				</div>
		</div>
	</div>
</div>