<!DOCTYPE html>
<html>
  <head>
    <title>Lokki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <div id="wrapper"> -->
      <header>
        <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

          <% if traveller_signed_in? %>
          <nav class="navbar-header">
            <%=link_to root_path do %>
              <%= image_tag 'logo.png', size: '300x90' %>
            <% end %>
            <br>login now
          </nav>
          <nav class="navbar-right">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to "spot new", new_traveller_spot_path(current_traveller) %>
              </li>
              <li class="nav-item">
                <%= link_to "new plan", new_traveller_itinerary_path(current_traveller) %>
              </li>
              <li class="nav-item">
                <%= link_to "mypage", traveller_path(current_traveller) %>
              </li>
              <li class="nav-item">
                <%= link_to "log in", traveller_session_path %>
              </li>
              <li class="nav-item">
                <%= link_to "sign_up", new_traveller_registration_path %>
              </li>
              <li class="nav-item">
                <%= link_to "log_out", destroy_traveller_session_path, method: :delete %>
              </li>
            </ul>
          </nav>

          <% else %>
          <nav class="navbar-header">
            <%= link_to "logo", root_path %><br>logout now
          </nav>
          <nav class="navbar-right">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                about
              </li>
              <li class="nav-item">
                <%= link_to "log in", traveller_session_path %>
              </li>
              <li class="nav-item">
                <%= link_to "sign_up", new_traveller_registration_path %>
              </li>
            </ul>
          </nav>
          <% end %>

          </div>
        </nav>
      </header>
    <!-- </div> -->

    <div style="margin-top: 20px"></div>

    <%= yield %>

    <div style="margin-bottom: 20px"></div>

    </div>

    <footer id="footer">
      <div class="container-fluid text-center copyrights">
        <div class="col-md-8 col-md-offset-2">
          <p style="padding-top: 20px; color: FFFF;">&copy; LOKKI. Designed by yuyabanjo</p>
        </div>
      </div>
    </footer>

  </body>
</html>
