<!DOCTYPE html>
<html>
  <head>
    <title>Lokki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ja.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script>

  </head>

  <body>
    <!-- <div id="wrapper"> -->
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">
            <%=link_to root_path do %>
              <%= image_tag 'logo.png', size: '200x60' %>
            <% end %>
          </a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
          </button>

          <% if traveller_signed_in? %>
          <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav ml-auto">
              <!-- <li class="nav-item active">
                <a class="nav-link" href="#">ホーム <span class="sr-only">(現位置)</span></a>
              </li> -->
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  新規投稿
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "スポットを登録する", new_traveller_spot_path(current_traveller), class: "dropdown-item" %>
                  <%= link_to "旅の計画を立てる", new_traveller_itinerary_path(current_traveller), class: "dropdown-item" %>
                  <!-- <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">その他</a> -->
                </div>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", traveller_path(current_traveller), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_traveller_session_path, method: :delete, class: "nav-link" %>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">無効</a>
              </li> -->
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
              <input type="search" class="form-control mr-sm-2" placeholder="検索..." aria-label="検索...">
              <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
            </form> -->
          </div><!-- /.navbar-collapse -->

          <% else %>
          <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to "会員登録", new_traveller_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "about", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", traveller_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  一覧
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                </div>
              </li>
            </ul>
          </div>
          <% end %>

        </nav>
      </header>
    <!-- </div> -->

    <div style="margin-top: 20px"></div>

    <%= yield %>

    <div style="margin-bottom: 20px"></div>

    </div>

    <footer id="footer">
      <div class="container-fluid text-center copyrights">
        <div class="mx-auto">
          <p style="padding-top: 20px; color: FFFF;">&copy; LOKKI. Designed by yuyabanjo</p>
        </div>
      </div>
    </footer>

  </body>
</html>
